.menu__link {
    color: var(--white);
    margin: 0 40px;
    text-decoration: none;
    font-size: 1.15rem;
}

.menu__link--black {
    color: var(--mine-shaft);
}

.menu__link--active {
    color: var(--mine-shaft);
    font-weight: bold;
}

.menu__link:hover {
    text-decoration: underline;
}