.menu__link {
    color: var(--white);
    margin: 0 40px;
    text-decoration: none;
    font-size: 1.15rem;
}

.menu__link--active {
    color: rgba(0,175,154,0.8);
    font-weight: bold;
}

.menu__link:hover {
    text-decoration: underline;
}