.artist {
    margin: 20px 0;
    font-size: 30px;
    font-weight: bolder;
    color: var(--white);
    display: block;
    text-align: center;
}

.artist__photo {
    border-radius: 50%;
    margin-top: 40px;
}