:root {
    --alabaster: #f9f9f9;
    --mercury: #e5e5e5;
    --silver: #bfbfbf;
    --white: #fdfdfd;
    --gray: #808080;
    --mine-shaft: #333333;
    --scorpion: #595959;
    --totem-pole: #8d0606;
    --red-oxide: #620404;
    --background-gradient: linear-gradient(33deg, rgba(0,175,154,1) 0%, rgba(255,68,56,0.95) 100%);
}