body {
    font-family: Roboto, sans-serif;
    background: linear-gradient(33deg, rgba(0,175,154,1) 0%, rgba(255,68,56,0.95) 100%);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

ul, li {
    padding: 0;
}